
/MissionPlanner/gmapcache
/MissionPlanner/logs
/MissionPlanner/eeprom.bin
/MissionPlanner/serialsent.raw
/MissionPlanner/config.xml
/MissionPlanner/srtm/Africa
/MissionPlanner/srtm/Australia
/MissionPlanner/srtm/SRTM3
/MissionPlanner/srtm/version2_1
/MissionPlanner/FDLayout.xml
/MissionPlanner/FDscreen.xml
/MissionPlanner/ArdupilotMegaPlanner10.vshost.exe
/MissionPlanner/ArdupilotMegaPlanner10.vshost.exe.config
/MissionPlanner/ArdupilotMegaPlanner10.vshost.exe.manifest
/MissionPlanner/ParameterMetaData.xml
/MissionPlanner/SharpKml.xml
/MissionPlanner/System.Reactive.xml
/MissionPlanner/BSE.Windows.Forms.xml
/MissionPlanner/ArduinoCPP.vshost.exe.manifest